.short-info {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  position: relative;

  &__location {
    width: 1200px;
    height: 600px;
    position: absolute;
    z-index: 5;
  }

  &__location_new {
    z-index: 6;
  }

  &__location_old {
    animation: 2s hideLocation forwards linear;
    z-index: 7;
  }

  @keyframes hideLocation {
    0% {
      clip-path: polygon(-50% 50%, -50% -50%, 100% 0%, 100% 100%, 0% 100%);
    }
  
    100% {
      clip-path: polygon(0% 200%, 200% 0%, 200% 0%, 200% 200%, 0% 200%);
    }
  }
}

@media screen and (max-width: 1200px) {
  .short-info {
    height: 50vw;
    
    &__location {
      width: 100%;
      height: 50vw;
    }
  }
}