$locationWidth: 1200px;
$locationHeight: 600px;

.short-info {
  width: 100%;
  height: $locationHeight;
  display: flex;
  justify-content: center;
  position: relative;

  &__location {
    width: $locationWidth;
    height: $locationHeight;
    position: absolute;
    z-index: 5;
  }

  &__location_new {
    z-index: 6;
  }

  &__location_old {
    animation: 2s hideLocation forwards linear;
    z-index: 7;
  }

  @keyframes hideLocation {
    0% {
      clip-path: polygon(-50% 50%, -50% -50%, 100% 0%, 100% 100%, 0% 100%);
    }
  
    100% {
      clip-path: polygon(0% 200%, 200% 0%, 200% 0%, 200% 200%, 0% 200%);
    }
  }
}