.lang-changer {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;

  &__img {
    height: 50%;
  }

  &__window_case {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    transform: translateX(-100%);
    top: 25%;
    z-index: 10;
  }

  &__window {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-right: 5px;
    background-color: #010522;
    border-radius: 10px;
    border: 0.1px solid white;
  }

  &__lang {
    margin-top: 5px;
  }

  &__lang_selected {
    color: rgb(94, 94, 223)
  }

  &:hover &__window_case{
    display: block;
  }
}