.advertising {
  width: 100%;
  height: 600px;
  padding: 10px 0px;
  display: flex;
  justify-content: center;

  &__case {
    width: 1200px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
  }

  &__room {
    width: 1200px;
    height: 600px;
    position: absolute;
    z-index: -1;
  }

  &__cost {
    width: 350px;
    height: 400px;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    margin-bottom: 150px;
  }

  &__gold_floor {
    height: 40px;
    position: relative;
  }

  &__gold {
    width: 60px;
    height: 40px;
  }

  &__gold_animation {
    animation: goldDrop 0.25s forwards;
    position: absolute;
    opacity: 0;
  }

  &__gold_hide {
    animation: goldDrop 0.25s forwards, goldHide 0.25s forwards;
  }

  &__product {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  &__product_picture {
    height: 50%;
    width: 100%;
  }

  &__product_cost {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px
  }
}

@keyframes goldDrop {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes goldHide {
  0% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 0;
    transform: translateY(-50%);
  }
}


@media screen and (max-width: 1200px) {
  .advertising {
    height: 50vw;

    &__case {
      width: 100%;
    }

    &__room {
      width: 100%;
      height: 50vw;
    }
  }
}

@media screen and (max-width: 600px) {
  .advertising {
    &__cost {
      width: 250px;
      height: 300px;
    }

    &__gold_floor {
      height: 20px;
    }

    &__gold {
      width: 30px;
      height: 20px;
    }

    &__product {
      margin: 10px;
      width: 30%;
    }
  }
}