.improvements {
  width: 80%;
  height: 400px;
  margin: 50px 0px;
  padding-bottom: 50px;
  position: relative;

  &__steps{
    display: flex;
    position: absolute;
    height: 100%;
  }

  &__step_block {
    height: 400px;
    display: flex;
    position: relative;
  }
  &__arrow_block {
    width: 100px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  &__arrow {
    width: 70%;
    padding: 10px;
  }

  &__step {
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  &__picture_block {
    height: 300px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    position: relative;
  }
  &__picture {
    max-height: 100%;
    cursor: pointer;
  }

  &__blackout {
    position: absolute;
  }

  &__blackout_show {
    opacity: 0;
    animation: blackoutShow 0.2s forwards linear;
  }

  &__blackout_hide {
    animation: blackoutHide 0.2s forwards linear;
  }

  &__text {
    min-width: 150px;
  }

  &__star {
    height: 55px;
    position: absolute;
    bottom: -34px;
    z-index: 5;
    cursor: pointer;
  }

  &__line {
    position: absolute;
    bottom: 27.5px;
    height: 25px;
    background-color: purple;
    opacity: 50%;
    width: 100%;
  }

  &__circle {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background-color: purple;
    position: absolute;
    bottom: 15px;
    z-index: 4;
    opacity: 0.5;
  }
}

@keyframes blackoutShow {
  to {
    opacity: 1;
  }
}

@keyframes blackoutHide {
  to {
    opacity: 0;
  }
}


@media screen and (max-width: 600px) {
  .improvements {
    &__arrow_block {
      width: 50px;
      height: 300px;
    }
  
    &__arrow {
      width: 40px;
      padding: 10px;
    }

    &__picture_block {
      height: 200px;
    }
  }
}