.master {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100vh;

  &__info {
    width: 40%;
  }

  &__name {
    text-align: center;
  }

  &__picture {
    max-width: 35%;
    max-height: 80%;
  }
}
