.footer {
  display: flex;
  justify-content: space-around;
  padding: 50px 0;

  &__anime-rolling {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  &__rolling {
    height: 25px;
  }

  &__links {
    display: flex;
    gap: 10px;
  }
}

@media screen and (max-width: 600px) {
  .footer {
    margin: 0 15px;
  }
}