.legend {
  width: 100%;

  &__line {
    width: 100%;
    height: 45vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 15px 0;
  }
  
  &__line_picture_case {
    height: 100%;
    overflow: hidden;
    width: 50%;
  }


  &__line_picture {
    height: 100%;
    width: auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  &__line_text {
    width: 35%;
  }
}


@media screen and (max-width: 1100px) {
  .legend {
    &__line_picture_case {
      max-height: 50vw;
    }

    &__line {
      height: 50vw;
    }
  }
}