.fightstage {
  width: 100%;
  height: 400vh;
  position: relative;

  &__strip {
    width: 25%;
    margin-left: 5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  &__strip_block {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__background {
    width: 60%;
    height: 90vh;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 5vh;
    right: 5%;
  }

  &__background_fixed {
    position: fixed;
  }

  &__background_under {
    bottom: 5vh;
    top: unset;
  }

  &__background_img {
    position: absolute;
    width: 100%;
    animation: hide 0.5s forwards linear;
  }

  &__background_img_show {
    opacity: 0;
    animation: show 0.5s forwards linear;
  }

  &__stage-display {
    position: relative;
    left: 30%;
    top: 30%;
    height: 100px;
  }
  @keyframes hide {
    to {
      opacity: 0;
    }
  }
  
  @keyframes show {
    to {
      opacity: 1;
    }
  }
}

